<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
  <div id="wrapper">

      <header>

          <div class="logo">
              RENT A CAR
          </div>

          <nav>
              <ul>
                  <li>
                      <a href="/" style="color: #fff;">
                          <div class="link-style">
                            <span>Anasayfa</span>   
                          </div>
                      </a>
                  </li>
                  <li>
                      <a href="/FilterAndList" style="color: #fff;">
                          <div class="link-style">
                              <span> Araçlar</span>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a href="/Subeler" style="color: #fff;">
                          <div class="link-style">
                              <span>Şubeler</span>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a href="#" style="color: #fff;">
                          <div class="link-style">
                              <span>İletişim</span>
                          </div>
                      </a>
                     
                  </li>
                  <li>
                      <a href="/UyelikEkrani" style="color: #fff;">
                          <div class="link-style" style="margin-left: 430px;">
                              <span>Üye Ol</span>
                          </div>
                      </a>
                  </li>
              </ul>
          </nav>

      </header>

      <div class="banner">
          <img src="~/Content/img/araba-on.jpg" alt="Ana Sayfa" width="480" height="280">
          <img src="~/Content/img/araba-arka.jpg" alt="Ana Sayfa" width="474" height="280">
      </div>

      <div class="sol-taraf">

          <div class="login-giris">

              <div class="ust">
                  Login Ekranı
              </div>

              <div class="alt">

                  <form action="" method="post">

                      <label>Email</label>
                      <input type="text" name="email" class="textbox" />

                      <label>Şifre</label>
                      <input type="password" name="sifre" class="textbox" />
                      <br />
                      <input type="submit" value="Giriş" class="btnStyle">
                  </form>

              </div>
          </div>

          <div class="rezeryasyon-ekranı">

              <div class="ust">
                  Rezervasyon Ekranı
              </div>

              <div class="alt">

              </div>

          </div>
      </div>

      <div class="icerik">
          @RenderBody()
      </div>

      <footer>
          Tüm Hakları Saklıdır &copy; 2015
      </footer>

  </div>
            
    
</body>
</html>
