@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/style.css" rel="stylesheet" />

<img src="~/Content/img/sari-araba.jpg" alt="Ana Sayfa" width="314" height="200">
<img src="~/Content/img/siyah.jpg" alt="Ana Sayfa" width="313" height="200">
<br />
<br />
<br />
<h3 style="margin-left: 15px; color: #555;">Araba Kiralamada Çok Özel Fiyatlar</h3>
<p style="color: #555;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec nisi blandit eros porttitor
    pretium tincidunt nec elit. Vivamus venenatis convallis fermentum. Proin pulvinar interdum eros
    tempor accumsan. Mauris pulvinar commodo justo, vitae pellentesque ex interdum non. In vestibulum
    sapien ac gravida condimentum. Nunc eget sapien maximus, suscipit mi quis, egestas risus. Class
    aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut et risus
    Sed vel vehicula ex. Aenean quis auctor neque, dapibus congue tellus. Class aptent taciti sociosqu
    sapien ac gravida condimentum. Nunc eget sapien maximus, suscipit mi quis, egestas risus. Class
    aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut et risus
    Sed vel vehicula ex. Aenean quis auctor neque, dapibus congue tellus. Class aptent taciti 


</p>

