@{
    ViewBag.Title = "Üyelik Ekranı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width: 285px; margin: 0 auto;">

        <div class="uyelik-ekrani">

            <div class="ust">
                Üyelik Ekranı
            </div>

            <div class="alt">

                <form action="/UyelikEkrani/Index" method="post">

                    <label>Ad</label>
                    <input type="text" name="ad" class="textbox" />

                    <label>Soyad</label>
                    <input type="text" name="soyad" class="textbox" />

                    <label>Email</label>
                    <input type="text" name="email" class="textbox" />

                    <label>Şifre</label>
                    <input type="password" name="sifre" class="textbox" />
                    <br />
                    <input type="submit" value="Kaydet" class="btnStyle">
                </form>

            </div>
        </div>
    </div>

