@import url(normalize.css);

body {
    background-color: gainsboro;
    font-family: 'Trebuchet MS', Calibri, Arial;
    font-size: 17px;
}

* {
    margin: 0;
    padding:0;
    border: 0;
}

a {
    text-decoration: none;/*linklerin altındaki çizgiyi sildik.*/
    color: #fff;
}
    
    a:hover {
        color: #21353c;
        cursor: pointer;
    }

#wrapper {
     width: 960px;
     height: auto;
     margin: 0 auto;/*yatayda hizaladık div i*/
     background-color: #0099CC;
}

header {
    width: 960px;
    height: 45px;
    float: left;
    background-color: #fff;
}

    header .logo {
        width: 129px;
        border-right: 1px solid #0099CC;
        height: 45px;
        float: left;
        line-height: 45px;
        text-align: center;
        color: #0099CC;
        
    }

    header nav {
        width: 830px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        float: left;
        background-color: #0099CC;
    }

        header nav ul {
            list-style: none;
        }

            header nav ul li {
                float: left;
                margin-left: 15px;/*linkler arasına 15login-girispx boşluk verdik*/
                color: #fff;
            }

                header nav ul li.uyeOl {
                    margin-left: 460px;
                }

.banner {
    width: 960px;
    height: 300px;
    margin-top: 15px;/*yukarıdan boşluk verdik.*/
    float: left;
    background-image: url(/Content/img/cars.jpg);
    background-size: cover;
   
}
/*login ekranı*/
.sol-taraf {
    width: 300px;
    height: 500px;
    float: left;
    margin-top: 15px; /*yukarıdan bu kadar boşluk verdik*/
   
}

    .sol-taraf .login-giris {
        width: 300px;
        height: auto;
        float: left;
       
    }

        .sol-taraf .login-giris .ust {
            width: 285px;
            height: 45px;
            line-height: 45px;
            padding-left: 15px;
            float: left;
            color: #fff;
            background-color: #0099CC;
        }

        .sol-taraf .login-giris .alt {
            width: 268px;
            padding: 15px;
            height: 150px;
            float: left;
            color: #555;
            font-size: 16px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border: 1px solid #ccc;
            background-color: #fff;
        }

            .sol-taraf .login-giris .alt .textbox {
                 width: 248px;
                 height: 30px;
                 border: 1px solid #ccc;
            }

            .sol-taraf .login-giris .alt .btnStyle {
                width: 100px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                margin-top: 10px;
                background-color: #0099CC;
                border-radius: 5px;
            }

/*Rezervasyon Ekranı*/
.rezeryasyon-ekranı {
        width: 300px;
        height: auto;
        float: left;
        
    }

        .rezeryasyon-ekranı .ust {
            width: 285px;
            height: 45px;
            line-height: 45px;
            padding-left: 15px;
            float: left;
            color: #fff;
            margin-top: 20px;
            background-color: #0099CC;
        }

        .rezeryasyon-ekranı .alt {
            width: 268px;
            padding: 15px;
            height: 177px;
            float: left;
            color: #555;
            font-size: 16px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border: 1px solid #ccc;
            background-color: #fff;
        }

            .rezeryasyon-ekranı .alt .textbox {
                 width: 248px;
                 height: 30px;
                 border: 1px solid #ccc;
            }

            .rezeryasyon-ekranı .alt .btnStyle {
                width: 100px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                margin-top: 10px;
                background-color: #0099CC;
                border-radius: 5px;
            }
/* üyelik ekranı*/

.uyelik-ekrani {
        width: 300px;
        height: auto;
        float: left;
        
    }

        .uyelik-ekrani .ust {
            width: 285px;
            height: 45px;
            line-height: 45px;
            padding-left: 15px;
            float: left;
            color: #fff;
            margin-top: 20px;
            background-color: #0099CC;
        }

        .uyelik-ekrani .alt {
            width: 268px;
            padding: 15px;
            height: 250px;
            float: left;
            color: #555;
            font-size: 16px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border: 1px solid #ccc;
            background-color: #fff;
        }

            .uyelik-ekrani .alt .textbox {
                 width: 248px;
                 height: 30px;
                 border: 1px solid #ccc;
            }

            .uyelik-ekrani .alt .btnStyle {
                width: 100px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                margin-top: 10px;
                background-color: #0099CC;
                border-radius: 5px;
            }

/*Araç ekleme ekranı*/

.arac-ekrani {
        width: 300px;
        height: auto;
        float: left;
        
    }

        .arac-ekrani .ust {
            width: 285px;
            height: 45px;
            line-height: 45px;
            padding-left: 15px;
            float: left;
            color: #fff;
            margin-top: 20px;
            background-color: #0099CC;
        }

        .arac-ekrani .alt {
            width: 268px;
            padding: 15px;
            height: 300px;
            float: left;
            color: #555;
            font-size: 16px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border: 1px solid #ccc;
            background-color: #fff;
        }

            .arac-ekrani .alt .textbox {
                 width: 248px;
                 height: 30px;
                 border: 1px solid #ccc;
            }

            .arac-ekrani .alt .btnStyle {
                width: 100px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                margin-top: 10px;
                background-color: #0099CC;
                border-radius: 5px;
            }

.btn-aracYonlen {
     width: 100px;
     height: 40px;
     line-height: 40px;
     text-align: center;
     color: #fff;
     margin-top: 10px;
     background-color: #0099CC;
     border-radius: 5px;
}

.icerik {
    width: 645px;
    height: 500px;
    float: right;
    margin-top: 15px; /*yukarıdan bu kadar boşluk verdik*/
    background-color: #fff;

}

footer {
    width: 960px;
    height: 45px;
    line-height: 60px;
    text-align: center;
    color: #555;
    float: left;
    margin-top: 15px;/*yukarıdan bu kadar boşluk verdik*/
    font-family: Calibri;
    background-color: #fff;
}

